.catalog-hero {
  /* @color-todo @decorative */
  --color-catalog-hero-bg: var(--color-gray-darken-10);
  --color-catalog-hero-bg-transparent: var(--color-gray-darken-10-transparent);
  --color-catalog-hero-explore: var(--color-green-4);
  --color-catalog-hero-discover: var(--color-blue-4);
  --color-catalog-hero-share: var(--color-purple-4);

  display: flex;
  flex: 1;
  height: 100%;
  background-image:
    linear-gradient(
      to bottom,
      var(--color-catalog-hero-bg),
      var(--color-catalog-hero-bg-transparent)
    ),
    url("assets/circle-grid-color.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.catalog-hero:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: " ";
  background: var(--color-catalog-hero-bg);
  opacity: 0.9;
  z-index: var(--layer-beneath);
}

.catalog-hero h1 {
  position: relative;
  z-index: var(--layer-base);
  font-size: 2.375rem;
  font-weight: normal;
  text-align: center;
  margin-bottom: 1.375rem;
  text-wrap: balance;
}

.catalog-hero h1 .explore {
  color: var(--color-catalog-hero-explore);
}

.catalog-hero h1 .discover {
  color: var(--color-catalog-hero-discover);
}

.catalog-hero h1 .share {
  color: var(--color-catalog-hero-share);
}

.categories {
  margin-top: 6.25rem;
  columns: 3;
  gap: 1.5rem;
}

.categories .card {
  margin-bottom: 2rem;
  display: inline-flex;
}

.categories .card .catalog_projects {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.categories .card .catalog_project {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.categories .card .catalog_project .catalog-project_summary {
  margin-left: 2.25rem;
  font-size: var(--font-size-medium);
  text-wrap: balance;
}

.catalog-page .catalog {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.catalog-page .get-listed-cta {
  font-size: var(--font-size-medium);
  text-align: center;
}

.catalog-page #get-on-the-catalog-modal {
  width: 34rem;
}

.catalog-page #get-on-the-catalog-modal img {
  margin: 1.5rem 3rem;
  height: 248px;
}

.catalog-page #get-on-the-catalog-modal p a {
  margin: 0 0.25rem;
}

.catalog-page #get-on-the-catalog-modal .modal-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}

.catalog-page .catalog.catalog_error {
  margin-top: 4rem;
  align-self: center;
  justify-self: center;
}
.catalog-page .catalog.catalog_error p {
  margin: 0;
}

@media only screen and (--u-viewport_max-lg) {
  .catalog-page {
    --page-hero-height: 12rem;
  }

  .catalog-hero h1 {
    font-size: 1.9rem;
  }

  .catelog {
    align-items: center;
    justify-content: center;
  }

  .categories {
    margin-top: 2rem;
    columns: 2;
  }

  .categories .card {
    padding: 0 2rem;
  }
}

@media only screen and (--u-viewport_max-md) {
  .catalog-page {
    --page-hero-height: 8rem;
  }

  .catalog-hero h1 {
    font-size: 1.5rem;
    padding: 0 1rem;
    margin-bottom: 2rem;
  }

  .categories {
    padding: 0 4rem;
    columns: 1;
  }

  .catalog-page .catalog.catalog_error {
    margin-top: 0;
  }
}

@media only screen and (--u-viewport_max-sm) {
  .catalog-page {
    --page-hero-height: 10rem;
  }

  .catalog-page .page.hero-layout .page-content {
    padding: 0;
    padding-top: 2rem;
  }

  .catalog-hero h1 {
    font-size: 1.25rem;
    padding: 0 1rem;
  }

  .categories {
    padding: 0;
  }

  .categories .card {
    flex-basis: 100%;
    width: auto;
  }

  .catalog-page #get-on-the-catalog-modal {
    width: calc(100vw - 2rem);
  }
}
