.code-page {
  /* increase the readable-column-width-medium size to account for extra gutter
   * space added by the fold toggle 
   *
   * unfortunately it doesn't look like we can define css variable based off of
   * itself, so we're going its 45rem here because 
   --readable-column-width-medium originally is 43 and we're adding 2rem;
   * */
  --readable-column-width-medium_original: 43rem;
  --readable-column-width-medium: calc(
    var(--readable-column-width-medium_original) + 2rem
  );
}

/* this is required to enable scrollTo behavior when focusing definitions, but
 * only browsing experience, not the default readme one (which is shown via
 * .sidebar-left-content-layout) */
.code-page .sidebar-edge-to-edge-layout .columns {
  height: 100%;
}

.code-page .sidebar .namespace-header {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.code-page .sidebar .namespace-header .icon {
  font-size: 1.5rem;
  line-height: 1;
}

.code-page .sidebar .is-overflowing .namespace-header .icon:after {
  position: absolute;
  top: 0;
  right: -1.5rem;
  bottom: 0;
  content: "";
  width: 1.5rem;
  background: linear-gradient(
    90deg,
    var(--color-sidebar-bg),
    var(--color-sidebar-bg),
    var(--color-sidebar-bg-transparent)
  );
}

.code-page .sidebar .namespace-header .namespace {
  display: inline-flex;
  color: var(--color-sidebar-fg-em);
  font-size: 1rem;
  font-weight: 500;
  height: 1.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-align: right;
  flex-direction: row-reverse;
}

.code-page .sidebar .sidebar_collapsed .namespace-header {
  gap: 0.25rem;
}

.code-page .sidebar .sidebar_collapsed .namespace-header .icon {
  font-size: var(--font-size-base);
}

.code-page .sidebar .sidebar_collapsed .namespace-header .namespace {
  font-size: var(--font-size-small);
}

.code-page .sidebar .perspective-actions {
  display: flex;
  flex-direction: row;
  gap: 0.375rem;
  flex-grow: 1;
}

.code-page .sidebar .perspective-actions .tooltip {
  margin-left: -0.3rem;
  margin-top: 0.5rem;
}

.code-page .sidebar .perspective-actions .tooltip-bubble {
  min-width: auto;
  font-weight: bold;
  font-size: var(--font-size-small);
}

.code-page .sidebar .perspective-actions .tooltip .fully-qualified-name {
  padding: 0;
  height: initial;
}

.code-page .sidebar .sidebar-section_header .tooltip.below .tooltip-bubble {
  min-width: auto;
  width: max-content;
  top: 2.25rem;
  right: -4.5rem;
}

.code-page .perspective-tree-divider {
  display: flex;
  flex-grow: 1;
}

.code-page .sidebar-toggled .columns {
  padding-top: 2.25rem;
}

@media only screen and (--u-viewport_max-lg) {
  .code-page .columns {
    padding-top: 1.25rem;
  }
}
