.notifications-page {
  & .notifications_selection-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;

    & .notifications_selection-controls_controls {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.25rem;
    }
  }

  & .notifications-page_content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  & .notifications {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    width: 100%;

    & .notification-row {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      align-items: center;

      &.notification-row_unread {
        color: var(--u-color_interactive);
      }

      & .notification-row_selection-and-details {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;

        & .notification-row_selection {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 0.85rem;
          height: 100%;
          margin-top: 0.1875rem; /* yuck... */
        }

        & .notification-row_details {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          & .notification-row_details_context-and-event {
            display: flex;
            flex-direction: row;
            align-items: center;
            line-height: 1;
            gap: 0.15rem;
            color: var(--u-color_text_subdued);

            & .notification-row_details_sep {
              font-size: var(--font-size-large);
              color: var(--u-color_text_very-subdued);
            }

            & .notification-row_details_event {
              font-size: var(--font-size-medium);
            }

            & .notification-row_event-ref {
              font-family: var(--font-monospace);
            }
          }

          & .notification-row_details_title {
            font-size: var(--font-size-base);
            font-weight: bold;
          }
        }
      }

      & .notification-row_date {
        font-size: var(--font-size-medium);
        color: var(--u-color_text_subdued);
      }
    }
  }

  & .pagination-controls {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: flex-end;
    margin-top: 0.5rem;
  }
}
