.org-people-page .members {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  container-type: inline-size;
  container-name: org-people-members;
}

.org-people-page .members_list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 100%;
}

.org-people-page .member {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.org-people-page .member_profile-snippet {
  width: 50%;
}
.org-people-page .member_role,
.org-people-page .member_remove {
  width: 25%;
}

.org-people-page .member_role {
  position: relative;

  & .tooltip-trigger {
    cursor: help;
  }

  & .tooltip-bubble {
    white-space: wrap;
    min-width: auto;
    width: 14rem;
    text-wrap: pretty;
  }
}

.org-people-page .member_remove {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.org-people-page .member_role {
  font-size: var(--font-size-small);
  color: var(--u-color_text_subdued);
}

.org-people-page .members_empty-state {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.org-people-page .members_empty-state_text {
  color: var(--u-color_text_subdued);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  font-size: var(--font-size-base);
}

.org-people-page .members_empty-state_text .icon {
  font-size: var(--font-size-base);
  color: var(--u-color_icon_subdued);
}

.org-people-page .members_loading {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@container org-people-members (max-width: 968px) {
  .org-people-page .member_role {
    width: 8rem;
    text-align: right;
  }

  .org-people-page .member_remove {
    width: 2rem;
  }
}

@container org-people-members (max-width: 500px) {
  .org-people-page .members_list {
    gap: 1.5rem;
  }

  .org-people-page .member {
    flex-direction: column;
    gap: 0.25rem;
    align-items: flex-start;
    position: relative;
  }

  .org-people-page
    .member_profile-snippet
    .profile-snippet:not(.profile-snippet_handle-only).profile-snippet_handle {
    display: none;
  }

  .org-people-page .member_role {
    text-align: left;
  }

  .org-people-page .member_remove {
    position: absolute;
    right: 0;
  }
}
