.project-contribution-checks-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .check_header {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem 1rem 1rem 0.75rem;
    gap: 0.125rem;
  }

  .check_header_first-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: var(--font-size-medium);

    .check_header_left {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 50%;

      .result-and-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
      }
    }

    .check_header_right {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 50%;
    }
  }

  .check_header_second-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 3.25rem;
    font-size: var(--font-size-small);
    color: var(--u-color_text_subdued);
  }

  .checks_latest {
    padding: 0;
    gap: 0;
  }

  .check_title {
    font-weight: bold;
  }

  .checks_previous {
    padding: 0;
    gap: 0;

    --u-color_divider: var(--u-color_border_subdued);
  }

  .check_previous {
    width: 100%;
  }

  .check_expanded {
    padding: 0.75rem;
    border-top: 1px solid var(--u-color_border_subdued);
    background: var(--u-color_container_subdued);
    width: 100%;
    font-size: var(--font-size-small);
    border-radius: 0 0 var(--border-radius-base) var(--border-radius-base);
  }
}
