.project-contribution-page {
  & .page-content .page-title .page-title_custom-title {
    display: flex;
    width: 100%;
    flex: 1;
  }

  & .contribution-page-title {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;

    .contribution-page-title_actions {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
    }
  }

  & .page-title_pre-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    color: var(--u-color_text_subdued);
    font-size: var(--font-size-medium);
    width: 100%;

    & .contribution-ref_by-at {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.75rem;
    }

    & .contribution-ref {
      font-size: 0.875rem;
      font-weight: bold;
      padding-right: 0.75rem;
      border-right: 1px solid var(--u-color_border);
    }
  }

  & .page-title_description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--u-color_text_subdued);
    font-size: var(--font-size-medium);

    & .from-to {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.75ch;
      line-height: 1;
    }

    & .time-ago {
      text-transform: capitalize;
    }

    & .branch {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.75ch;
      line-height: 1;

      & .tag {
        /* @todo @color-todo */
        background: var(--u-color_container);
        border: 1px solid var(--u-color_border);
      }
      & .tag:hover {
        border-color: var(--u-color_border_hovered);
        background: var(--u-color_container_hovered);
      }

      & .copy-on-click {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 1.5rem;

        & .button {
          height: 1.5rem;
          width: 1.5rem;
          flex-grow: 0;
        }

        & .copy-on-click_success {
          position: absolute;
          width: 1.5rem;
          height: 1.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: var(--border-radius-base);
          background: var(--u-color_action);
        }
      }
    }
  }
}

@media only screen and (--u-viewport_max-sm) {
  .project-contribution-page {
    & .page-title {
      flex: 1;

      & h1 {
        font-size: 1.25rem;
      }
    }

    #view-locally {
      display: none;
    }

    & .page-title_description .from-to {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.25rem;

      & .branch {
        gap: 0.25rem;

        & .button {
          border-radius: var(--border-radius-base);
        }

        & .copy-on-click {
          display: none;
        }
      }
    }

    & .page-title_right-side {
      align-self: flex-end;
    }
  }
}
