.project-contribution-page:has(.project-contribution-changes-page) .page-title {
  padding: 3rem 1.5rem 0;
}

.project-contribution-page:has(.project-contribution-changes-page)
  .edge-to-edge-layout
  .page-content
  .column {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 1.5rem 0;
  gap: 1.5rem;
}

.project-contribution-changes-page {
  --diff-line-height: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & .branch-diff-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & .branch-diff-content-cards {
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }
  }

  & .card.change-tree {
    --c-card_padding: 0.5rem;
    width: 16rem;
    height: max-content;
    overflow-x: clip;
    position: relative;

    & .contribution-changes-group {
      display: flex;
      flex-direction: column;
      gap: 0.125rem;
      font-size: var(--font-size-small);
    }

    & .change-line {
      gap: 0.125rem;

      & .icon {
        font-size: var(--font-size-small);
      }
    }
  }

  & .change-tree::after {
    content: " ";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 2rem;
    border-radius: var(--border-radius-base);
    background: linear-gradient(
      to right,
      transparent,
      var(--u-color_container),
      var(--u-color_container)
    );
  }

  & .definition-changes {
    container: definition-changes / inline-size;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
    font-size: var(--font-size-medium);

    & .definition-change.card {
      scroll-margin-top: 100px;
      padding: 0;
      gap: 0;

      & .definition-change-header {
        border-radius: var(--border-radius-base);
        background: var(--color-card-bg);
        z-index: var(--layer-popover);
        position: sticky;
        top: 0;
        padding: 0.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        width: 100%;

        & .change-title .fully-qualified-name {
          font-weight: 500;
        }

        & .change-info {
          position: relative;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 0.25rem;

          & .small-label {
            font-size: var(--font-size-small);
            color: var(--u-color_text_subdued);
            & a {
              color: var(--u-color_text);
            }
          }

          /* TODO: this is hacky.... */
          .hash {
            margin-top: 2px;
            & .icon {
              margin-top: -2px;
            }
          }

          & a:hover,
          & a:hover .hash {
            color: var(--u-color_interactive);
          }
        }

        & .change-info.dep-info {
          margin-left: 0.5rem;

          & .version {
            font-size: var(--font-size-medium);
            font-weight: 500;
          }

          & .lib-namespace-info {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: var(--font-size-extra-small);
            line-height: 1;
            color: var(--u-color_text_subdued);
            font-family: var(--font-monospace);
            & .fully-qualified-name_segment {
              color: var(--u-color_text_subdued);
            }

            & .icon {
              font-size: var(--font-size-extra-small);
              margin: 0 0.25rem;
            }
          }
        }

        & .definition-change-actions .tooltip-bubble {
          margin-right: 0.5rem;
          margin-top: 0.125rem;
        }
      }

      &:has(.definition-change-details) .definition-change-header {
        border-bottom: 1px solid var(--u-color_border_subdued);
        border-radius: var(--border-radius-base) var(--border-radius-base) 0 0;
      }

      & .definition-change-details {
        position: relative;
        width: 100%;
        padding: 0;
        font-size: var(--font-size-small);

        & .error-expanded-content,
        & .loading-expanded-content {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          padding: 0.5rem 1rem;
        }

        & .tooltip {
          margin-top: 0.25rem;
          margin-left: -0.65rem;
        }

        & .tooltip-changes-summary {
          font-size: var(--font-size-medium);
          display: flex;
          flex-direction: column;
          font-family: var(--font-sans-serif);
          color: var(--u-color_text_very-subdued);

          & .hash-changed {
            display: flex;
            flex-direction: row;
            line-height: 1;
            align-items: center;

            & .hash {
              color: var(--color-tooltip-text);
              font-size: var(--font-size-medium);
              & .icon {
                line-height: 1;
              }
            }
          }

          & code {
            font-family: var(--font-monospace);
          }
        }
      }
    }

    .definition-change.card .definition-source {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;

      .gutter:last-child {
        border-bottom-left-radius: var(--border-radius-base);
      }

      .definition-syntax {
        overflow-x: auto;
        line-height: var(--diff-line-height);
      }

      &.added {
        background: var(--color-green-5);
        .gutter {
          color: var(--color-green-1);
        }
      }

      &.removed {
        background: var(--color-pink-5);
        .gutter {
          color: var(--color-pink-1);
        }
      }
    }

    & .definition-change.card .diff-side-by-side {
      display: flex;
      flex-direction: row;
      width: 100%;
      gap: 0;

      & .diff-side {
        width: 50%;

        & header {
          background: var(--u-color_element_subdued);
          padding: 0 0.5rem;
          height: var(--diff-line-height);
          display: flex;
          align-items: center;
          line-height: 1;
          font-size: var(--font-size-extra-small);
          text-transform: uppercase;
          font-weight: bold;
          color: var(--u-color_text_subdued);
          border-bottom: 1px solid var(--u-color_border_subdued);
        }

        & code {
          width: 100%;
          display: flex;
          overflow-x: auto;
        }

        & code > div {
          width: max-content;
        }
      }

      & .diff-side:first-child {
        border-right: 1px solid var(--u-color_border_subdued);
      }
    }

    & .definition-change.card .collapsed-section {
      border-radius: 0;
      color: var(--u-color_text_subdued);
      font-family: var(--font-monospace);
      background: var(--u-color_element_subdued);
      height: calc(var(--diff-line-height) + 0.25rem);
      line-height: 1;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 0 0.5rem;
      font-style: italic;
      justify-content: center;
      border-top: 1px solid var(--u-color_border_subdued);
      border-bottom: 1px solid var(--u-color_border_subdued);
      font-size: var(--font-size-extra-small);
      overflow: hidden;
    }

    & .definition-change.card .collapsed-section .icon {
      color: var(--u-color_icon_subdued);
    }

    & .definition-change.card .collapsed-section:hover {
      color: var(--u-color_interactive);
    }

    & .definition-change.card .collapsed-section:first-child {
      border-top: 0;
    }

    & .definition-change.card .collapsed-section:last-child {
      border-bottom: 0;
    }

    & .definition-change.card .left .collapsed-section:last-child {
      border-bottom-left-radius: var(--border-radius-base);
    }

    & .definition-change.card .right .collapsed-section:last-child {
      border-bottom-right-radius: var(--border-radius-base);
    }

    & .definition-change.card .diff-line {
      height: var(--diff-line-height);
      line-height: 1;
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    & .definition-change.card .diff-line_syntax {
      height: var(--diff-line-height);
      line-height: 1;
      display: flex;
      align-items: center;
    }

    & .definition-change.card .diff-segment {
      display: inline-flex;
      height: var(--diff-line-height);
      align-items: center;
      line-height: 1;
    }

    & .gutter {
      position: sticky;
      left: 0;
      background: var(--u-color_element_subdued);
      color: var(--u-color_text_very-subdued);
      border-right: 1px solid var(--u-color_border_subdued);
      padding: 0 0.5rem;
      height: var(--diff-line-height);
      line-height: 1;
      gap: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    & .definition-change.card a:hover {
      background: none;
      color: var(--u-color_interactive);
    }

    & .spacer-line {
      --pattern-stripe: var(--color-gray-8);
      --pattern-gap: var(--color-gray-11);
      background-image: linear-gradient(
        45deg,
        var(--pattern-stripe) 12.5%,
        var(--pattern-gap) 12.5%,
        var(--pattern-gap) 50%,
        var(--pattern-stripe) 50%,
        var(--pattern-stripe) 62.5%,
        var(--pattern-gap) 62.5%,
        var(--pattern-gap) 100%
      );
      background-size: 8px 8px;
    }

    & .definition-change.card .left {
      & .diff-line:last-child,
      & .diff-line:last-child .gutter {
        border-bottom-left-radius: var(--border-radius-base);
      }

      & .changed-line {
        background: var(--color-pink-5);

        & .gutter {
          color: var(--color-pink-1);
        }

        & .one-sided {
          background: var(--color-pink-4);
        }
      }

      & .annotation-change:not(:has(span .blank)) a,
      & .segment-change:not(:has(span .blank)) a {
        text-decoration: var(--color-pink-4) wavy underline;
      }
    }

    & .definition-change.card .right {
      & .diff-line:last-child {
        border-bottom-right-radius: var(--border-radius-base);
      }

      & .changed-line {
        background: var(--color-green-5);

        & .gutter {
          color: var(--color-green-1);
        }

        & .one-sided {
          background: var(--color-green-3);
        }
      }

      & .annotation-change:not(:has(span .blank)) a,
      & .segment-change:not(:has(span .blank)) a {
        text-decoration: var(--color-green-2) wavy underline;
      }
    }
  }

  & .icon {
    font-size: var(--font-size-medium);
    line-height: 1;
  }

  & .change-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
    line-height: 1;
    position: relative;

    & .tooltip {
      left: -0.75rem;
    }

    & .change-badge_wrapper {
      display: inline-flex;
      justify-content: flex-end;
    }

    & .change-badge {
      border-radius: 1rem;
      width: 100%;
      line-height: 1;
      display: inline-flex;
      gap: 0.25rem;
      padding: 0.25rem 0.5rem;
      align-items: center;
      justify-content: center;
      box-shadow: 0 0 0 0.125rem var(--u-color_container);
      z-index: var(--layer-base);
      font-size: var(--font-size-extra-small);
      font-weight: bold;
      text-transform: uppercase;

      & .icon {
        font-size: var(--font-size-extra-small);
      }
    }

    & .change-badge.added {
      background: var(--color-green-5);
      color: var(--color-green-1);

      & .icon {
        color: var(--color-green-1);
      }
    }

    & .change-badge.updated {
      background: var(--color-orange-4);
      color: var(--color-orange-0);

      & .icon {
        color: var(--color-orange-0);
      }
    }

    & .change-badge.removed {
      background: var(--color-pink-5);
      color: var(--color-pink-1);

      & .icon {
        color: var(--color-pink-1);
      }
    }

    & .change-badge.renamed {
      background: var(--color-blue-5);
      color: var(--color-blue-2);

      & .icon {
        color: var(--color-blue-2);
      }
    }

    & .change-badge.aliased {
      background: var(--color-purple-6);
      color: var(--color-purple-2);

      & .icon {
        color: var(--color-purple-2);
      }
    }

    & .change-icon {
      width: 0.75rem;
      height: 0.75rem;
      border-radius: 0.5rem;
      line-height: 1;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 0 0 0.125rem var(--u-color_container);
      z-index: var(--layer-base);

      & .icon {
        font-size: var(--font-size-extra-small);
      }
    }

    & .change-icon.added {
      background: var(--color-green-5);

      & .icon {
        color: var(--color-green-1);
      }
    }

    & .change-icon.updated {
      background: var(--color-orange-4);

      & .icon {
        color: var(--color-orange-0);
      }
    }

    & .change-icon.removed {
      background: var(--color-pink-5);

      & .icon {
        color: var(--color-pink-1);
      }
    }

    & .change-icon.renamed {
      background: var(--color-blue-5);

      & .icon {
        color: var(--color-blue-2);
      }
    }

    & .change-icon.aliased {
      background: var(--color-purple-6);

      & .icon {
        color: var(--color-purple-2);
      }
    }

    & .def-icon-anchor {
      position: relative;

      & .def-icon {
        width: 1.125rem;
        height: 1.125rem;
        border-radius: 0.5625rem;
        line-height: 1;
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }
    }

    & .icon.term,
    & .icon.type,
    & .icon.ability,
    & .icon.ability-constructor,
    & .icon.data-constructor,
    & .icon.doc,
    & .icon.test {
      color: var(--u-color_icon_subdued);
    }

    & .change-title {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: var(--u-color_text);

      & .fully-qualified-name {
        font-family: var(--font-monospace);
        font-weight: normal;
      }
    }

    & a.change-title:hover .fully-qualified-name_segment {
      color: var(--u-color_interactive);
    }
  }

  & .change-line.namespace {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0.875rem;
    gap: 0.25rem;

    & .namespace-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;

      & .icon {
        color: var(--u-color_icon_subdued);
      }
    }

    & .contribution-changes-group .change-line.namespace {
      padding-left: 1.25rem;
    }

    & .change-line:not(.namespace)::before {
      position: absolute;
      top: -0.25rem;
      left: calc(0.25rem + 1.5px);
      bottom: -0.125rem;
      content: " ";
      width: 1px;
      background: var(--u-color_border_subdued);
      z-index: var(--layer-beneath);
    }

    & .change-line:not(.namespace):last-child::before {
      bottom: 1.25rem;
    }
  }

  &
    .change-tree
    .contribution-changes-group:first-child
    .change-line.namespace:first-child {
    margin-top: 0;
  }
}

.change-line.namespace
  .change-line:not(.namespace):has(+ .change-line.namespace)::before {
  bottom: 1.25rem;
}

.project-contribution-changes-page .contribution-diff_uncomputable {
  padding: 1.5rem;

  & h2 {
    font-size: 1.25rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
  }
}

.project-contribution-changes-page .contribution-diff_computing {
  padding: 1.5rem;
  & .refresh-message {
    font-size: var(--font-size-medium);
  }
}

@container (max-width: 400px) {
  .project-contribution-changes-page .definition-changes {
    & .definition-change.card .diff-side-by-side {
      flex-direction: column;
    }

    & .definition-change.card .diff-side-by-side .diff-side {
      max-width: 100%;
      width: 100%;
    }

    & .definition-change.card .diff-side-by-side .diff-side:first-child {
      border-right: 0;
      border-bottom: 1px solid var(--u-color_border_subdued);
    }
  }
}

@media only screen and (--u-viewport_max-lg) {
  .project-contribution-page:has(.project-contribution-changes-page)
    .page-title {
    padding-top: 0.5rem;
  }

  .project-contribution-changes-page {
    & .change-tree {
      display: none;
    }
  }
}

@media only screen and (--u-viewport_max-md) {
  .project-contribution-changes-page
    .definition-changes
    .definition-change.card
    .definition-change-header
    .change-info.dep-info
    .lib-namespace-info {
    display: none;
  }

  .project-contribution-changes-page {
    & .definition-change.card {
      & .definition-change-header .change-line {
        & .change-info .hash,
        & .change-info .extra-info,
        & .change-info:not(.dep-info) .icon.arrow-right,
        & .change-badge label {
          display: none;
        }

        & .change-badge_wrapper {
          width: auto;
        }

        & .change-badge {
          padding: 0.25rem;
        }
      }

      & .definition-change-details {
        max-width: 100%;
        overflow: auto;
      }
    }
  }

  .project-contribution-changes-page {
    & .change-line .change-badge_wrapper {
      /* there's a direct, computed width set via `style` that
       * we want to override on smaller screens hence the
       * !important */
      width: auto !important;
    }
  }
}

@media only screen and (--u-viewport_max-sm) {
  :is(:is(.project-contribution-changes-page .change-line) .def-icon-anchor)
    .def-icon {
    display: none;
  }
}
