.project-settings-page .settings-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project-settings-page .settings-content .card,
.project-settings-page .settings-content .card .form {
  position: relative;
}

.project-settings-page .settings-content .card .project-settings_card_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.project-settings-page .settings-content .disabled-overlay {
  background: var(--u-color_container);
  border-radius: var(--border-radius-base);
  opacity: 0.75;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.project-settings-page .settings-content h2 {
  color: var(--u-color_text_subdued);
  margin-bottom: 0.75rem;
}

.project-settings-page .collaborators {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.project-settings-page .collaborators_list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.project-settings-page .collaborator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.project-settings-page .collaborator_role,
.project-settings-page .collaborator_profile-snippet {
  width: 33%;
}

.project-settings-page .collaborator_role {
  font-size: var(--font-size-small);
  color: var(--u-color_text_subdued);
}

.project-settings-page .list_empty-state {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project-settings-page .list_empty-state_text {
  color: var(--u-color_text_subdued);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  font-size: var(--font-size-base);
}

.project-settings-page .list_empty-state_text .icon {
  font-size: var(--font-size-base);
  color: var(--u-color_icon_subdued);
}

.project-settings-page .list_loading {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.project-settings-page .webhooks {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.5rem;
  font-size: var(--font-size-medium);
  color: var(--u-color_text);

  & .webhook {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  & .webhook_url {
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 1;
    gap: 0.25rem;

    & .icon {
      color: var(--u-color_icon_subdued);
    }
  }

  & .webhook_details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  & .webhook_details .webhook_events {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.125rem;
    margin-left: 1rem;
  }

  & .webhook_actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.125rem;
  }
}

.project-settings-page .page-content .actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
}

.project-settings-page .page-content .actions .status-banner {
  position: absolute;
  left: 0;
}

.project-settings-page .page-content .actions .buttons {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
}

.project-settings-page .saving .card:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.85);
  border-radius: var(--border-radius-base);
}

#delete-project-modal {
  width: 30rem;
}

#delete-project-modal .delete-project-modal_content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: relative;
}

#delete-project-modal p {
  margin: 0;
}

#delete-project-modal .status-banner {
  font-weight: bold;
}

#delete-project-modal .delete-project-modal_actions {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: flex-end;
}

#delete-project-modal .delete-project-modal_actions .status-banner {
  position: absolute;
  left: 0;
  z-index: var(--layer-base);
}

#delete-project-modal .delete-project-modal_overlay-deleting {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--color-modal-bg);
  opacity: 0.85;
  content: " ";
}

#delete-project-modal .delete-project-modal_overlay-success {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--color-modal-bg);
  content: " ";
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-base);
  line-height: 1.5;
}
