.project-contribution-overview-page {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  & pre {
    overflow: auto;
  }

  & .contribution-description {
    z-index: 1;

    & .no-description {
      font-size: var(--font-size-medium);
      color: var(--u-color_text_subdued);
    }

    & .definition-doc {
      max-width: var(--readable-column-width-medium);
      --c-width_doc_inner-content: calc(
        var(--readable-column-width-medium) - 3rem
      );
      overflow-x: hidden;
    }

    & .actions {
      border-top: 1px solid var(--u-color_border_subdued);
      padding: 1.5rem 1.5rem 0;
      margin: 0.5rem -1.5rem 0;
      display: flex;
      flex: 1;
      width: calc(100% + 3rem);
      flex-direction: row;
      justify-content: space-between;

      & .left-actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
      }

      & .right-actions {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
      }

      & .tooltip {
        & .tooltip-bubble {
          top: 2.5rem;
          left: 0;
          transform: translateX(-75%);
          white-space: pre;
        }
      }
    }
  }

  & .new-comment_form {
    position: relative;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0 1.5rem;

    & .divider {
      background: var(--u-color_border_subdued);
      margin-bottom: 1rem;
    }

    & .comment-actions {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      position: relative;

      & .status-banner {
        position: absolute;
        left: 0;
        z-index: 1;
      }
    }
  }

  & .new-comment_form.new-comment_form_working::after {
    content: " ";
    background: var(--u-color_background_subdued);
    position: absolute;
    opacity: 0.75;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
  }
}

#project-contribution-how-to-review-modal .instructions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  & .copy-field {
    margin-bottom: 1rem;
  }

  & p {
    margin-bottom: 0;
  }
}
