.project-contribution-page {
  & .page-content .page-title .page-title_custom-title {
    display: flex;
    width: 100%;
    flex: 1;
  }

  & .contribution-page-title {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
  }

  & .page-title_pre-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    color: var(--u-color_text_subdued);
    font-size: var(--font-size-medium);
    width: 100%;

    & .contribution-ref_by-at {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
    }

    & .contribution-ref {
      font-size: 0.875rem;
      font-weight: bold;
      background: var(--u-color_element);
      padding: 0.125rem 0.5rem;
      border: 1px solid var(--u-color_border_subdued);
      border-radius: 1.5rem;
    }
  }

  & .page-title_description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--u-color_text_subdued);
    font-size: var(--font-size-medium);

    & .from-to {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.75ch;
      line-height: 1;
    }

    & .time-ago {
      text-transform: capitalize;
    }

    & .branches {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.75ch;
      line-height: 1;

      & .tag {
        /* @todo @color-todo */
        background: var(--u-color_container);
        border: 1px solid var(--u-color_border);
      }
      & .tag:hover {
        border-color: var(--u-color_border_hovered);
        background: var(--u-color_container_hovered);
      }
    }
  }
}

@media only screen and (--u-viewport_max-sm) {
  .project-contribution-page {
    & .page-title {
      flex: 1;

      & .page-title_default-title .text {
        gap: 0.5rem;
      }
    }

    & .page-title_description {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.75rem;
    }

    & .page-title_right-side {
      align-self: flex-end;
    }
  }
}
