#add-project-webhook-modal {
  --c-add-project-webhook-modal_width: 38rem;
  width: var(--c-add-project-webhook-modal_width);

  & .event-selection_groups {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  & .event-selection .form-field .label {
    font-weight: normal;
  }

  & .form-field.radio-field {
    flex-direction: row;

    & .radio-field_option {
      width: calc(50% - 0.125rem);
    }
  }
}
