#download-modal {
  width: 38rem;
}

#download-modal p {
  margin-bottom: 1.5rem;
}

#download-modal .hint {
  margin-top: 0.5rem;
  padding-left: calc(var(--border-radius-base) / 2);
}

@media only screen and (--u-viewport_max-sm) {
  #download-modal {
    width: calc(100vw - 2rem);
  }
}
