.readme-card .readme {
  container-name: doc-container;
  container-type: inline-size;
  width: 100%;
}

.readme-card .definition-doc aside {
  width: 14rem;
  right: -16rem;
}

@media only screen and (--u-viewport_max-xl) {
  .readme-card .definition-doc aside {
    position: relative;
    right: auto;
    width: auto;
    margin: 1.5rem;
  }
}
