@import "./confirm-delete.css";
@import "./unison-share/app.css";
@import "./unison-share/info-modal.css";
@import "./unison-share/new-org-modal.css";
@import "./unison-share/welcome-tour-modal.css";
@import "./unison-share/banner.css";
@import "./unison-share/help-modal.css";
@import "./unison-share/report-bug-modal.css";
@import "./unison-share/use-project-modal.css";
@import "./unison-share/publish-project-release-modal.css";
@import "./unison-share/add-project-collaborator-modal.css";
@import "./unison-share/add-project-webhook-modal.css";
@import "./unison-share/add-org-member-modal.css";
@import "./unison-share/project-contribution-form-modal.css";
@import "./unison-share/project-ticket-form-modal.css";
@import "./unison-share/search-branch-sheet.css";
@import "./unison-share/readme-card.css";
@import "./unison-share/page.css";
@import "./unison-share/project/project-ref.css";
@import "./unison-share/project/project-listing.css";
@import "./unison-share/timeline.css";
@import "./unison-share/omni-search.css";
@import "./unison-share/paginated.css";
@import "./code2.css";

/* TODO: put back into ui-core */
:root {
  --u-color_icon_very-subdued: var(--color-gray-6);
  --u-color_chrome: var(--color-gray-9);
  --u-color_chrome_subdued: var(--color-gray-10);
  --u-color_chrome_emphasized: var(--color-gray-11);
  --u-color_chrome_selected: var(--color-gray-10);
  --u-color_chrome_border: var(--u-color_border);
}

.workspace-pane_focused .workspace-card.focused {
  --c-workspace-card_background: var(--color-gray-11);
}
