<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Unison Share</title>
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://share.unison-lang.org" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="627" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@unisonweb" />
  </head>
  <body>
    <noscript>
      <style>
        body {
          font-family: "Inter", sans-serif;
          background: #fafafb; /* gray-lighten-60 */
          color: #2d2e35; /* gray-darken-20 */
        }

        main {
          width: min(39rem, calc(100vw - 8rem));
          margin: 4rem auto 1.5rem auto;
          background: #fff; /* gray-lighten-100 */
          padding: 1.5rem;
          border-radius: 0.25rem;
          border: 1px solid #e4eaf3; /* gray-lighten-50 */
        }

        h1 {
          font-size: 1.5rem;
          font-weight: 900;
          margin: 0;
          padding: 0;
        }

        p:last-child {
          margin-bottom: 0;
        }

        footer {
          font-size: 0.75rem;
          text-align: center;
          color: #818286; /* gray-lighten-20 */
        }

        footer a {
          color: #2d2e35; /* gray-darken-20 */
          text-decoration: none;
          transition: all 0.2s;
        }

        footer a:hover {
          color: #225ebe; /* blue-1 */
        }

        .decorative-purple {
          color: #9a76c8; /* purple-3 */
        }

        .sep {
          margin: 0 0.25rem;
          color: #d1d5dc; /* gray-lighten-30 */
        }
      </style>
      <main>
        <h1>
          👋 Welcome to Unison <span class="decorative-purple">Share</span>
        </h1>
        <p>
          We're sorry, but we require
          <strong>JavaScript to be enabled</strong> for our app to work
          properly.
        </p>
        <p>Please enable it to continue.</p>
      </main>
      <footer>
        © 2024
        <a target="_blank" href="https://www.unison-lang.org/unison-computing/"
          >Unison Computing, PBC
        </a>
        <span class="sep">•</span>
        <a target="_blank" href="https://www.unison-lang.org/learn"
          >Language Docs</a
        >
      </footer>
    </noscript>
  </body>
</html>
