.project-listing {
  --c-color_project-name-listing_private-icon: var(
    --u-color_info_icon-on-element_subdued
  );
  --c-color_project-name-listing_private-icon_background: var(--color-blue-3);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;

  & .private-icon {
    height: 1.25rem;
    padding: 0 0.5rem;
    font-size: var(--font-size-extra-small);
    gap: 0.25rem;
    font-weight: bold;
    line-height: 1;
    color: var(--c-color_project-name-listing_private-icon);
    border-radius: 0.75rem;
    background: var(--c-color_project-name-listing_private-icon_background);
    display: inline-flex;
    place-content: center;
    place-items: center;
  }

  & .private-icon .icon {
    color: var(--c-color_project-name-listing_private-icon);
  }
}
